<div class="container">
    <div><%= @user.email %></div>
    <div><%= @user.password %></div>
    <div><%= @user.name %></div>
    <div>
        <img src="<%= @user.picture %>" alt="user profil picture">
    </div>
    <div><%= @user.picture %></div>
    <div><%= @user.gender %></div>
    <div><%= @user.date_of_birth %></div>
</div>