<div class="container space-top-show">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <div class="card border-warning">
                <div class="card-body">
                    <div class="container">
                        <h1 class="text-warning"><strong>Politique de confidentialité</strong></h1><br>
                        <h5 class="about-content">
                            En vigueur le 01 juin 2019<br>

                            Cette politique couvre DigitalGrin Inc.<br><br> 

                            <h4><strong>Quelles informations collectées par DigitalGrin et pourquoi?</strong></h4><br>
                            Afin de vous offrir la meilleure expérience possible avec DigitalGrin, 
                            nous recueillons des informations sur vos interactions avec notre réseau. 
                            Nous utilisons les technologies Internet courantes, telles que les cookies et 
                            les journaux de serveur Web. Nous recueillons ces informations de base auprès de tous,
                            qu’ils aient ou non un compte.<br><br>

                            Les informations que nous collectons sur tous les visiteurs de notre site Web 
                            incluent:<br>
                            <ul>
                                <li>Le type de navigateur du visiteur</li>
                                <li>Site référent</li>
                                <li>La date et l'heure de chaque demande de visiteur</li>
                                <li>Nous recueillons également des informations potentiellement personnelles, 
                                    telles que des adresses IP (Internet Protocol).</li>
                            </ul>
                            
                            Nous utilisons ces informations pour:
                            <ul>
                                <li>Fournir, tester, améliorer, promouvoir et personnaliser les services de DigitalGrin</li>
                                <li>Combattre le spam et d'autres formes d'abus</li>
                                <li>Générer des informations globales non identifiantes sur la façon dont les gens utilisent 
                                    les services de DigitalGrin</li>
                            </ul>

                            Pour que vous puissiez créer un compte sur DigitalGrin et utiliser nos services, 
                            nous devons collecter et traiter certaines informations. Selon votre utilisation 
                            des Services, cela peut inclure:
                            <ul>
                                <li>Les communications que vous nous envoyez (par exemple, lorsque vous 
                                    demandez de l'aide, envoyez-nous des questions ou des commentaires ou 
                                    signalez un problème);
                                </li>
                                <li>Les informations que vous soumettez sur ou à DigitalGrin sous forme de réactions, 
                                    commentaires ou messages à d'autres utilisateurs;
                                </li>
                                <li>L'adresse électronique associée à votre compte Facebook, si vous choisissez
                                    de vous inscrire en utilisant vos informations d'identification Facebook. 
                                    DigitalGrin demandera également l'autorisation d'accéder à des informations 
                                    supplémentaires (ces autorisations sont régies par les règles de 
                                    confidentialité de Facebook et peuvent être gérées via vos paramètres 
                                    de confidentialité Facebook). Nous ne publions jamais rien sur votre Facebook 
                                    sans votre permission.
                                </li>
                                <li>Vous avez également la possibilité de nous donner plus d'informations 
                                    si vous le souhaitez, ce qui peut inclure «Informations personnelles de 
                                    l'utilisateur».
                                </li>
                            </ul><br>
                            
                            <h4><strong>Divulgation d'information</strong></h4><br>
                            Nous ne partageons, vendons, louons ou échangeons pas les informations personnelles 
                            de l'utilisateur avec des tiers à des fins commerciales.<br><br>

                            Nous partageons certaines informations agrégées, non personnelles, avec d'autres 
                            sur la manière dont nos utilisateurs, collectivement, utilisent DigitalGrin. Par exemple, 
                            nous pouvons partager des informations relatives à la popularité de différents 
                            langages de programmation pour des partenaires publicitaires.<br><br>

                            Nous organisons des annonces publicitaires sur DigitalGrin. Nous n'exécutons aucun code 
                            provenant d'annonceurs et toutes les images d'annonce sont hébergées sur des 
                            serveurs DigitalGrin gérés. Pour plus de détails, voir notre section Détails de la 
                            publicité.<br><br>

                            Nous pouvons utiliser les informations personnelles de l'utilisateur avec 
                            votre permission afin de pouvoir exécuter les services que vous avez autorisés. 
                            Par exemple, si vous indiquez que vous recherchez du travail, nous pouvons vous 
                            contacter avec des opportunités.<br><br>

                            Nous pouvons partager les informations personnelles de l'utilisateur avec un 
                            nombre limité de fournisseurs tiers qui les traitent en notre nom pour fournir 
                            ou améliorer notre service et qui ont accepté des restrictions de confidentialité 
                            similaires à notre propre déclaration de confidentialité. Nos fournisseurs tiers 
                            sont énumérés ci-dessous.<br><br>

                            <h4><strong>Détails de la publicité</strong></h4><br>
                            Nous ciblons les publicités uniquement sur:
                            <ul>
                                <li>Détails de la page où l'annonce est affichée, y compris:</li>
                                <ul>
                                    <li>Le nom et les mots-clés associés à la page ou à l'article en cours 
                                        de visualisation
                                    </li>
                                    <li>Nous autorisons les annonceurs à cibler leurs annonces sur une 
                                        liste de mots clés publicitaires.
                                    </li>
                                </ul>
                            </ul>
                            Nous pouvons placer des annonces dans:
                            <ul>
                                <li>Barres latérales</li>
                                <li>Articles ci-dessous</li>
                                <li>Sur les pages de résultats de recherche</li>
                                <li>Sur les pages tag</li>
                                <li>Notre page dédiée aux sponsors</li>
                            </ul>
                            
                            Tous les membres inscrits ont la possibilité de désactiver les publicités - 
                            lorsque cela est raisonnable - via leur page de paramètres. Par exemple, 
                            il est impossible de désactiver certaines publicités sous forme de messages 
                            de reconnaissance, de concours à l’échelle du site, de pages de parrainage dédiées, etc.<br><br>

                            <h4><strong>Fournisseurs tiers</strong></h4><br>
                            <strong>Nous pouvons partager les informations de votre compte avec des tiers dans 
                            certaines circonstances, notamment:</strong> (1) avec votre consentement; 
                            (2) à un fournisseur de services ou à un partenaire qui respecte nos normes 
                            de protection des données; (3) à des fins d'enquête ou de recherche, 
                            après agrégation, anonymisation ou pseudonomisation; (4) lorsque nous croyons 
                            de bonne foi que cela est requis par la loi, par exemple à la suite 
                            d'une assignation à comparaître ou d'un autre processus judiciaire; 
                            (5) lorsque nous croyons de bonne foi que cela aidera à prévenir un 
                            préjudice imminent à quelqu'un.<br><br>

                            <h4><strong>Stockage de données</strong></h4><br>
                            DigitalGrin utilise des fournisseurs tiers et des partenaires d’hébergement 
                            pour le matériel, les logiciels, la mise en réseau, le stockage et 
                            les technologies connexes nécessaires à l’exécution de DigitalGrin. 
                            En utilisant DigitalGrin Services, vous autorisez DigitalGrin à transférer, 
                            stocker et utiliser vos informations aux États-Unis et dans tout 
                            autre pays où nous exerçons nos activités. Tous les fournisseurs de services 
                            et fournisseurs tiers sont tenus de respecter nos normes de protection des données.<br><br>

                            <h4><strong>Surveillance du site</strong></h4><br>
                            DigitalGrin utilise une variété de services tiers pour diagnostiquer les erreurs et 
                            améliorer les performances de notre site. Notre objectif est de minimiser la 
                            quantité d'informations personnelles partagées, mais ces informations peuvent 
                            inclure votre adresse IP ou d'autres informations d'identification. 
                            Tous les fournisseurs de services et fournisseurs tiers sont tenus de respecter 
                            nos normes de protection des données.<br><br>

                            <h4><strong>Intégrations tierces</strong></h4><br>
                            Une partie du contenu affiché sur DigitalGrin n'est pas hébergé par DigitalGrin. 
                            Ces «embeds» sont hébergés par un tiers et incorporés à DigitalGrin. 
                            Par exemple: vidéos YouTube, Codepens, tweets Twitter ou code GitHub qui 
                            apparaissent dans une publication de DigitalGrin. Ces fichiers envoient des données 
                            au site hébergé comme si vous visitiez directement ce site (par exemple, 
                            lorsque vous chargez une page de publication DigitalGrin avec une vidéo YouTube intégrée, 
                            YouTube reçoit des données relatives à votre activité). DigitalGrin ne contrôle pas les 
                            données que des tiers collectent dans de tels cas, ni ce qu’ils vont en faire. 
                            Les intégrations tierces sur DigitalGrin ne sont pas couvertes par cette politique de 
                            confidentialité. ils sont couverts par la politique de confidentialité du 
                            service tiers. Soyez attentif lorsque vous interagissez avec ces services.<br><br>

                            <h4><strong>Facebook (pixel d'action du visiteur)</strong></h4><br>
                            Nous utilisons les «pixels d’action des visiteurs» de Facebook Inc sur 
                            notre site Web.<br><br>

                            Cela permet de suivre le comportement des utilisateurs après leur redirection 
                            vers notre site Web en cliquant sur une annonce Facebook. Cela nous permet de 
                            mesurer l'efficacité des publicités Facebook. Les données collectées de cette 
                            manière sont anonymes pour nous, c’est-à-dire que nous ne voyons pas les données 
                            personnelles des utilisateurs individuels. Cependant, ces données sont stockées 
                            et traitées par Facebook, c'est pourquoi nous vous en informons, en fonction de 
                            notre connaissance de la situation. Facebook peut associer ces informations à 
                            votre compte Facebook et les utiliser également à des fins promotionnelles, 
                            conformément à la politique d'utilisation des données de Facebook. Vous pouvez 
                            vous opposer à la collecte de vos données par pixel Facebook ou à l'utilisation 
                            de vos données à des fins d'affichage d'annonces Facebook en contactant l'adresse 
                            suivante: https://www.facebook.com/settings?tab=ads.<br><br>

                            <h4><strong>Cookies de suivi</strong></h4><br>
                            Nous utilisons des cookies de navigateur et des technologies similaires pour 
                            vous reconnaître lorsque vous revenez à nos services. Les fournisseurs tiers 
                            peuvent également utiliser des cookies pour diverses raisons.<br><br>

                            DigitalGrin utilise un cookie spécifique afin de faciliter l'utilisation de Google 
                            Universal Analytics pour les utilisateurs connectés aux applications ou aux 
                            plateformes («utilisateur connecté»). Si vous êtes un utilisateur connecté, 
                            DigitalGrin peut utiliser votre ID utilisateur DigitalGrin en combinaison avec 
                            Google Universal Analytics et Google Analytics pour suivre et analyser les pages 
                            des services que vous visitez. Nous ne faisons cela que pour mieux comprendre 
                            comment vous utilisez le site Web et les autres services, dans le but d’offrir 
                            des améliorations à tous les utilisateurs de DigitalGrin; et d'adapter nos activités 
                            commerciales et nos activités de marketing en conséquence, de manière générale 
                            et spécifiquement pour vous. Les cookies de Google Analytics ne fournissent à 
                            DigitalGrin aucune information personnelle. Vous pouvez empêcher Google Analytics de 
                            vous reconnaître lors de vos visites précédentes sur ce site en désactivant 
                            les cookies sur votre navigateur.<br><br>

                            Vous pouvez désactiver cette fonctionnalité en installant le module complémentaire 
                            Navigateur de désactivation de Google Analytics, en configurant votre navigateur 
                            Web pour qu'il refuse les cookies ou en configurant votre navigateur pour vous 
                            avertir de l'envoi de cookies. Si vous le faites, notez que certaines parties 
                            du site peuvent ne pas fonctionner correctement.<br><br>

                            <h4><strong>Sécurité des données</strong></h4><br>
                            Nous utilisons un cryptage (HTTPS / TLS) pour protéger les données transmises 
                            vers et depuis notre site. Cependant, aucune transmission de données sur 
                            Internet n’est sécurisée à 100%, nous ne pouvons donc pas garantir la sécurité. 
                            Vous utilisez le Service à vos risques et périls et vous êtes responsable de 
                            prendre des mesures raisonnables pour sécuriser votre compte.<br><br>

                            <h4><strong>Courriels administratifs de DigitalGrin</strong></h4><br>
                            Nous vous enverrons parfois des courriels concernant votre compte, 
                            les modifications de service ou les nouvelles règles. Vous ne pouvez pas vous 
                            désabonner de ce type d’e-mail «transactionnel» 
                            (sauf si vous supprimez votre compte).<br><br>

                            Lorsque vous interagissez avec un e-mail transactionnel envoyé par DigitalGrin 
                            (par exemple, en ouvrant un e-mail ou en cliquant sur un lien particulier 
                            dans un e-mail), nous pouvons recevoir des informations sur cette interaction.<br><br>

                            <h4><strong>Emails non administratifs de DigitalGrin</strong></h4><br>
                            Lors de la création d'un compte DigitalGrin, vous serez inscrit à la lettre 
                            d'information DigitalGrin et à tout autre courrier électronique non administratif. 
                            Votre adresse électronique et les informations de votre profil d'utilisateur 
                            peuvent être stockées par un fournisseur de messagerie tiers, tel que MailChimp 
                            ou Sendgrid. Vous pouvez désactiver les courriers électroniques non administratifs, 
                            tels que les résumés, les lettres d'information et les notifications d'activité, 
                            via la page "Paramètres" de votre compte et via le lien du pied de page de tout 
                            électronique non administratif que nous recevons de notre part.<br><br>

                            Lorsque vous interagissez avec un courrier électronique non administratif envoyé 
                            par DigitalGrin (par exemple, en ouvrant un courrier électronique ou en cliquant sur un 
                            lien particulier dans un courrier électronique), nous pouvons recevoir des 
                            informations sur cette interaction.<br><br>

                            <h4><strong>Suppression de vos informations personnelles</strong></h4><br>
                            Vous pouvez demander la suppression de vos informations personnelles et de 
                            votre compte en envoyant un courrier électronique à privacy@digitalgrin.com<br><br>

                            Pour protéger les informations contre toute destruction accidentelle ou 
                            malveillante, nous pouvons conserver des copies résiduelles pendant une brève 
                            période. Mais, si vous supprimez votre compte, vos informations et votre contenu 
                            seront irrécupérables après cette heure.<br><br>

                            <h4><strong>Portabilité des données</strong></h4><br>
                            Si vous souhaitez demander une copie de vos données utilisateur, veuillez envoyer 
                            un courrier électronique à privacy@digitalgrin.com<br><br>

                            <h4><strong>Transferts commerciaux</strong></h4><br>
                            Si nous sommes impliqués dans une fusion, une acquisition, une faillite, 
                            une réorganisation ou une vente d'actifs de telle sorte que vos informations 
                            soient transférées ou deviennent soumises à une politique de confidentialité 
                            différente, nous vous en informerons au préalable.<br><br>

                            <h4><strong>Changements à cette politique</strong></h4><br>
                            Nous nous réservons le droit de réviser cette politique de confidentialité à 
                            tout moment. Si nous changeons cette politique de confidentialité à l'avenir, 
                            nous publierons la politique de confidentialité révisée et mettrons à jour 
                            la «date d'entrée en vigueur» ci-dessus, afin de refléter la date des modifications.<br><br>

                            <h4><strong>Des questions</strong></h4><br>
                            Les commentaires sur cette politique à privacy@digitalgrin.com sont les bienvenus.
                        </h5>
                    </div>
                </div>
            </div><br>
            <div class="card">
                <div class="card-body">
                    <div class="container bottom-menu">
                        <span class="menu-content"><%= link_to  "Accueil", root_path %></span>
                        <span class="menu-content"><%= link_to  "A propos", about_path %></span>
                        <span class="menu-content"><%= link_to  "Sponsors", sponsors_path %></span>
                        <span class="menu-content"><%= link_to  "Contact", contact_path %></span>
                        <span class="menu-content"><%= link_to  "Conditions d'utilisation", cgu_path %></span>
                        <span class="menu-content"><%= link_to  "Code de conduite", terms_path %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>