<div class="container space-top-show">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="card">
        <div class="card-body article-border">
            <h1><b><%= @post.title %></b></h1>
            <b><%= @post.user.email %></b> . <b><%= @post.field.name %></b> . <%= @post.created_at.strftime('%d %B') %><br><br><br>
            <p style="font-size:16px;"><%= raw(@post.content) %></p><br>
            <% @comments.each do |comment| %>
              <div class="card">
                <div class="card-body">
                    <strong><%= comment.user.email %></strong><br><br>
                    <p><%= comment.content %></p>
                  <% if comment.user_id === current_user.id %>
                    <%= link_to 'Modifier', edit_comment_path(comment), class: "text-warning" %>
                    <%= link_to 'Supprimer', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %>
                  <% end %>
                </div>
              </div><br>
            <% end %>
            <%= render 'comments/form' %>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <center>
        <div class="card article-border">
          <div class="card-header bg-warning text-secondary">
            <h5>Auteur</h5>
          </div>
          <div class="card-body">
            <b><%= @post.user.email %></b><br><br>
            Petite bio
          </div>
        </div>
      </center>
    </div>
  </div>
</div><br>

<div class="container">
    <%= link_to 'Modifier', edit_post_path(@post), class: "btn btn-default" %> |
      <!-- <%= link_to 'Retour', posts_path, class: "btn btn-default" %>
      <%= link_to 'Supprimer', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> -->
    <%= link_to 'Retour', posts_path, class: "btn btn-default" %>
</div>

